.editor-container {
    border: 1px #424242 solid;
    padding: 20px;
    border-radius: 2px;
    margin: 10px;
}

.create {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.26);
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 2px;
}

.create:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 0, 0.26);
}

.delete {
    width: 10px;
    height: 10px;
    cursor: pointer;
    float: right;
    border-radius: 100%;
    background-color: red;
}
